<h1>商品詳細</h1>
    <h4>商品写真</h4>
    <td><%= @item :image, accept: "image/*" %></td>

    <h4>ジャンル</h4>
    <td></td>

    <h4>商品名</h4>
    <td><%= @item :name %></td>

    <h4>商品説明文</h4>
    <td><%= @item :introduction %></td>

    <h4>商品価格（税抜）</h4>
    <td>¥<%= @item :price %></td><br>

