<h1>ジャンル編集</h1>

<%= form_with model: @genre, url: admin_genre_path, method: :patch  do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "変更" %>
<% end %>


<%#= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "Are you sure？"} %>