<p id="notice"></p>
<div class="container-fluid">
  <div id="error_explanation"></div>
  <div class="row m-5">
    <div class="col-md-2 mx-5 text-center border border-dark w-50 p-3">
      <div class="">ジャンル検索</div>
      <div>aa</div>
    </div>
    <div class="col-md-9">
      <h2 class="">商品一覧</h2>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="p-2">
            <%= image_tag item.get_image, size: "300x200" %> <br>
            <%= link_to item.name, item_path(item.id) %> <br>
            <%= item.price %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>